@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    --primary: #10ad16;
}

body {
    transition: background-color .5s ease;
}

body.dark {
    background-color: #303438;
    color: #EAEAEA;
}

header {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#4A5F4F00, #4A5F4F00, #315e3e99, #002E0C), url('imgs/pixelcut-export.jpeg') 50% 50%/auto 125% no-repeat;
    transition: background-position .15s ease;
}

header.dark {
    background: linear-gradient(#4A5F4F00, #4A5F4F00, #333f3699, #0c160f), url(imgs/pixelcut-export.jpeg) 50% 50% / auto 125% no-repeat;;
}

header.dark > .title {
    color: #dddce3;
}

.navbar.dark {
    background-color: #41424A;
}

.navbar {
    position: fixed;
    background-color: white;
    padding: .5rem 2rem;
    box-shadow: 0 5px 15px 0 #0000004C;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999;
    border-radius: 15px;
    top: 2rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color .5s ease, background-color .5s ease, width .3s ease, top .1s ease, border-radius .3s ease, padding .3s ease;
}

.navbar.fix {
    top: 0;
    width: 101%;
    border-radius: 0;
    padding: .8rem 2rem;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar.dark a {
    color: #EAEAEA;
}

.nav-links {
    display: flex;
    list-style: none;
    align-items: center;
    column-gap: 2rem;
    font-size: 1.2rem;
    font-weight: 200;
}

.title {
    color: white;
    font-size: 6rem;
    font-weight: bold;
    position: relative;
    left: 8rem;
    max-width: 900px;
    bottom: calc(10rem - 100%);
    transform: translateY(-100%);
    font-family: 'Instrument Sans', sans-serif;
    transition: color .5s ease;
}

.logo {
    height: 50px;
    padding: 0 2rem;
}

.logo > img {
    height: 100%;
}

.main-link {
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 0 3rem;
    letter-spacing: 1px;
}

section {
    transition: color .5s ease;
}

section:nth-of-type(2n) {
    background-color: #769FB619;
}

.section-title {
    text-align: center;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 5rem;
}

.primary {
    color: var(--primary);
}

.flex-wrapper {
    display: flex;
    column-gap: 5rem;
    row-gap: 3rem;
}

.image-container {
    max-width: 600px;
}

.image-container > img {
    max-width: 100%;
}

.info-list-container {
    padding: 1rem 0;
}

.info-list-element {
    margin-bottom: 3rem;
}

.info-list-element:last-of-type {
    margin-bottom: 0;
}

.info-list-credentials {
    margin: 2rem 0;
}

.bold {
    font-weight: 600;
}

.text-primary {
    color: var(--primary);
    font-weight: 500;
}

.info-text {
    margin: 5rem 2rem 3rem;
}

.subsection-title {
    font-weight: 600;
}

.subsection {
    margin-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.mod-list {
    margin: 1.2rem 0;
    padding: 0 2.5rem;
}

.mod-list-element {
    margin-bottom: .5rem;
}

.mod-list-element:last-of-type {
    margin-bottom: 0;
}

.datapack-list {
    margin: .8rem 0;
    padding: 0 2.5rem;
}

footer {
    background-image: url('imgs/pixelcut-export.jpeg');
    height: 250px;
    width: 100%;
    background-position: 50% 70%;
    background-size: cover;
    transition: background-position .15s ease;
}

.dark-mode-icon {
    height: 30px;
    min-width: 30px;
    width: 30px;
    cursor: pointer;
}

.dark-mode-icon > svg {
    height: 100%;
    width: 100%;
    color: black;
}

.first-section {
    padding: 6rem 15%;
}

.second-section {
    padding-bottom: 6rem;
    position: relative;
}

.second-section-container {
    padding-left: 15%;
    padding-right: 15%;
}

.third-section {
    display: grid;
    grid-template-columns: 15% auto 15%;
    padding-bottom: 6rem;
    overflow-x: clip;
}

.icons-container {
    height: 100%;
    position: relative;
}

.sword {
    position: absolute;
    top: 25%;
    left: 30%;
    transform: scale(1.2, 1.2);
}

.axe {
    position: absolute;
    top: 55%;
    right: 5%;
    transform: scale(1.5, 1.5) rotateZ(-65deg);
}

.shovel {
    position: absolute;
    top: 80%;
    left: 15%;
    transform: scale(1.5, 1.5) rotateZ(-20deg);
}

.pickaxe {
    position: absolute;
    top: 30%;
    right: 50%;
    transform: scale(1.8, 1.8) rotateZ(-85deg);
}

.top-icons-container {
    position: relative;
    height: 6rem;
    grid-column: 1 / 4;
}

.mc-icon {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    left: 20%;
}

.diamond-1 {
    position: absolute;
    top: 0;
    transform: translateY(-75%) scale(1.1, 1.1) rotateZ(30deg);
    left: 8%;
}

.diamond-2 {
    position: absolute;
    top: 0;
    transform: translateY(-90%) scale(.9, .9) rotateZ(-20deg);
    left: 26%;
}

.diamond-3 {
    position: absolute;
    top: 45%;
    transform: scale(1.5, 1.5) rotateZ(-60deg);
    left: 35%;
}

.diamond-4 {
    position: absolute;
    top: 5%;
    left: 15%;
}

.discord-icons-container {
    width: 100%;
    height: 6rem;
    position: relative;
    overflow-x: clip;
}

.discord-icon {
    max-height: 160px;
    position: absolute;
    top: 5%;
    right: 8%;
}

.cloud-1 {
    max-height: 120px;
    position: absolute;
    top: 0;
    right: 0;
    transform: scaleY(.9) translateY(-70%) translateX(15%);
}

.cloud-2 {
    max-height: 140px;
    position: absolute;
    top: 30%;
    right: 20%;
}

.cloud-3 {
    max-height: 60px;
    position: absolute;
    bottom: 0;
    right: 5%;
    transform: translateY(200%);
}

.link {
    color: black;
    transition: color .5s ease;
}

.dark .link {
    color: #EAEAEA;
}

.mod-link {
    color: black;
    text-decoration: none;
    transition: color .5s ease;
}

.mod-link:hover {
    text-decoration: underline;
}

.dark .mod-link {
    color: #EAEAEA;
}

.important {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    transition: color .5s ease;
}

.dark .important {
    color: #FFFFFF;
}

@media screen and (width < 1650px) {
    .subsection {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (width < 1400px) {
    .first-section {
        padding: 6rem 10%;
    }

    .second-section-container {
        padding-left: 10%;
        padding-right: 10%;
    }

    .third-section {
        grid-template-columns: 10% auto 10%;
    }
}

@media screen and (width < 1200px) {
    .diamond-2 {
        left: 30%;
    }

    .sword {
        left: 15%;
    }
    
    .axe {
        right: unset;
        left: 25%;
    }
    
    .shovel {
        right: 25%;
        left: unset;
    }
    
    .pickaxe {
        right: 2%;
    }

    .title {
        max-width: 750px;
        font-size: 5.5rem;
    }
}

@media screen and (width < 1150px) {
    .flex-wrapper {
        flex-direction: column;
    }

    .image-container {
        margin: auto;
        order: 2;
    }

    .discord-icon {
        max-height: 120px;
        top: 0;
        transform: translateY(-10%);
    }
    
    .cloud-1 {
        max-height: 90px;
    }
    
    .cloud-2 {
        max-height: 110px;
        top: 10%;
        right: 18%;
    }
    
    .cloud-3 {
        max-height: 50px;
        transform: translateY(100%);
    }

    .mc-icon {
        max-height: 75px;
    }
    
    .diamond-1 {
        transform: translateY(-75%) rotateZ(30deg);
    }
    
    .diamond-2 {
        transform: translateY(-90%) scale(.8, .8) rotateZ(-20deg);
        left: 28%;
    }
    
    .diamond-3 {
        top: 20%;
        transform: scale(1.3, 1.3) rotateZ(-60deg);
    }
    
    .diamond-4 {
        top: 2%;
    }

    .first-section {
        padding: 6rem 5%;
    }

    .second-section-container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .third-section {
        grid-template-columns: 5% auto 5%;
    }

    .info-text {
        margin: 5rem 0 3rem;
    }
}

@media screen and (width < 1060px) {
    .title {
        max-width: 700px;
        font-size: 5rem;
        left: 6rem;
    }

    footer {
        height: 200px;
        background-position: 50% 65%;
    }
}

@media screen and (width < 950px) {
    .title {
        bottom: -75%;
        left: 0;
        padding-left: 6rem;
    }

    .datapack-list {
        padding: 0 .5rem;
    }
}

@media screen and (width < 850px) {
    .sword, .axe, .shovel, .pickaxe {
        display: none;
    }

    .third-section {
        display: block;
        padding: 0 .8rem 6rem;
    }

    .title {
        font-size: 4rem;
    }

    .mc-icon {
        max-height: 55px;
        left: 35%;
    }
    
    .diamond-1 {
        transform: translateY(-75%) scale(.9, .9) rotateZ(30deg);
        left: 10%;
    }
    
    .diamond-2 {
        transform: translateY(-90%) scale(.5, .5) rotateZ(-20deg);
        left: 42%;
    }
    
    .diamond-3 {
        top: 5%;
        transform: scale(1.1, 1.1) rotateZ(-60deg);
        left: 60%;
    }
    
    .diamond-4 {
        top: 2%;
        left: 25%;
        transform: scale(.7, .7);
    }

    .discord-icon {
        max-height: 75px;
        right: 15%;
    }
    
    .cloud-1 {
        max-height: 60px;
    }
    
    .cloud-2 {
        max-height: 70px;
        top: 7%;
        right: 35%;
    }
    
    .cloud-3 {
        max-height: 40px;
        right: 10%;
        transform: translateY(0);
    }

    .info-list-container {
        padding: 0 .8rem;
    }

    .mod-list {
        padding: 0 1.5rem;
    }

    footer {
        height: 150px;
    }
}

@media screen and (width < 750px) {
    .title {
        padding-right: 1rem;
        padding-left: 3.5rem;
        font-size: 3rem;
    }

    .link {
        display: none;
    }

    .main-link {
        padding: 0;
        font-size: 1.2rem;
        text-align: center;
    }

    .logo {
        padding: 0;
    }

    .nav-links {
        column-gap: 1.5rem;
    }

    .dark-mode-icon {
        order: 3;
    }

    footer {
        background-size: 120%;
    }
}

@media screen and (width < 550px) {
    footer {
        background-size: 140%;
    }
}